# Files and directories created by pub
.dart_tool/
.packages


# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# Other
.vscode/
.VSCodeCounter
.gitignore
pubspec.lock
git_ignore/
bin/batch
bin/pbatch
bin/web_server
bin/process_results
batch
database
test/env0/db.csv
test/env0/idb.json
test/env0/Log.txt
test/env0/results.csv
test/env0/queries.csv
test/env1/db.csv
test/env1/idb.json
test/phase2-4_test.dart
test/phase2-6_test.dart
test/phase2-7_test.dart

