# Files and directories created by pub
.dart_tool/
.packages


# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# Other
.vscode/
.VSCodeCounter
.gitignore
pubspec.lock
git_ignore/
bin/batch
bin/batchp
bin/batchw
bin/batchwb
bin/batchwr
bin/process_results
bin/wserver
batch/
database/
test/env0/db.csv
test/env0/idb.json
test/env0/log.txt
test/env0/results.csv
test/env1/db.csv
test/env1/idb.json
test/env1/log.txt
